.home-page header {
    background-image: linear-gradient(rgba(5, 10, 35, 0.75), rgba(5, 10, 35, 0.75)), url(../../utils/images/Home.jpg);
}

header {
    background-size: cover;
    background-position: center;
}

.feature-section {
    background-image: linear-gradient(rgba(5, 10, 35, 0.75), rgba(5, 10, 35, 0.75)), url(../../utils/images/report.jpg);
    background-size: cover;
    background-position: center;
}